nav{
    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        a {
            text-decoration: none;
        }
        li {
            flex-grow: 1;
        }
        img {
            width: 4vw;
        }
    }
}